<!DOCTYPE html>
<html lang="en">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    </head>

<div id="overviews" class="section wb">
    <div class="container">
        <div class="section-title row text-center">
            <div class="col-md-8 offset-md-2">
                <h3>CRUD web app project</h3>
                <p class="lead">This is a test template</p>
            </div>
        </div><!-- end title -->
    </div><!-- end container -->
</div><!-- end section -->